/* General */
@import 'imports/general/reset.css';
@import 'imports/general/variables.css';
@import 'imports/general/base_old.css';
@import 'imports/general/base.css';
@import 'imports/general/animations.css';
@import 'imports/general/apps.css';

/* Forms */
@import 'imports/general/forms.css';
@import 'imports/forms/button.css';
@import 'imports/forms/input.css';
@import 'imports/forms/select.css';
@import 'imports/forms/popup-list.css';
@import 'imports/forms/select-avatar.css';
@import 'imports/forms/switch.css';
@import 'imports/forms/tags.css';
@import 'imports/forms/checkbox.css';

/* Typography */
@import 'imports/general/typography.css';

/* Sidebar */
@import 'imports/components/sidebar/sidebar.css';
@import 'imports/components/sidebar/sidebar-header.css';
@import 'imports/components/sidebar/sidebar-item.css';
@import 'imports/components/sidebar/sidebar-flex.css';
@import 'imports/components/sidebar/toolbar.css';
@import 'imports/components/sidebar/rooms-list.css';

/* Main */
@import 'imports/components/setup-wizard.css';
@import 'imports/components/flex-nav.css';
@import 'imports/components/header.css';
@import 'imports/components/memberlist.css';
@import 'imports/components/main-content.css';
@import 'imports/components/message-box.css';
@import 'imports/components/avatar.css';
@import 'imports/components/badge.css';
@import 'imports/components/popover.css';
@import 'imports/components/alerts.css';
@import 'imports/components/popout.css';
@import 'imports/components/modal.css';
@import 'imports/components/tooltip.css';
@import 'imports/components/slider.css';
@import 'imports/components/chip.css';
@import 'imports/components/messages.css';
@import 'imports/components/contextual-bar.css';
@import 'imports/components/emojiPicker.css';
@import 'imports/components/table.css';
@import 'imports/components/tabs.css';

/* Modal */
@import 'imports/components/modal/full-modal.css';
@import 'imports/components/modal/create-channel.css';
@import 'imports/components/modal/directory.css';

/* User Info */
@import 'imports/components/userInfo.css';

/* RTL */
@import 'imports/general/rtl.css';

/*自定义样式*/
.file-box {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
  height: 72px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0 20px;
}
.doc-file {
  margin-right: 16px;
}
.file-info-wrapper {
  display: flex;
  flex-direction: column;
}
.message .doc-title {
  font-size: 14px;
  color: #333333;
}
.file-info-wrapper .link-to-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.file-owner {
  font-size: 12px;
  color: #888;
}
.message.sequential {
  margin-top: 40px;
}







